.article-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  background: #979b8621;
}

.article-wrapper.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.article-wrapper .fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}