@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700&display=swap");

body {
  font-family: "Exo 2", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }


  .news-wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
  }